@import "src/styles/commonStyles";

//main containers

.vilmates-page-users-statistics-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;
  .vilmates-page-users-statistics-amount-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 28px 16px 20px;
    margin-right: 40px;
    background: $whiteColor;
    border: 1px solid $grayBorderColor(201, 201, 198, 0.4);
    border-radius: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
}