@import "src/styles/commonStyles";

.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 25px;
}

.comment {
  max-width: 474px;
  & :global .MuiInputBase-root {
    align-items: flex-end;
  }
}

.commentButtonContainer {
  padding: 5px;
  cursor: pointer;
}

.error {
  margin-bottom: 25px;
  margin-top: -15px;
}

.commentError {
  max-width: 474px;
  & :global .MuiInputBase-root {
    align-items: flex-end;
  }
  & :global .MuiInputBase-root fieldset {
    border: 1px $mainRedColor solid !important;
  }
  & :global .MuiInputBase-root.Mui-focused fieldset {
    border: 1px $mainRedColor solid;
  }
}

