@import "src/styles/commonStyles";

.vilmates-single-page-go-back {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
  svg {
    margin-right: 12px;
  }
  a {
    color: $mainGreenColor;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.02em;
  }
}

.vilmates-single-page-right-content-container {
  section {
    &:first-child {
      margin-bottom: 21px;
    }
  }
}

.vilmates-single-page-left-content-container {
  margin-right: 30px;
  section {
    &:first-child {
      margin-bottom: 20px;
    }
  }
}

