//todo: after we choose breakpoints make media for large , small and medium classes and add small container, if we will need more options can be edited container props
.base-container.MuiContainer-root {
  &.large {
    max-width: 1051px;
    padding: 35px 40px;
    margin: 0;
  }
  &.medium {
    max-width: 663px;
    padding: 25px;
  }
  &.left {
    text-align: left;
  }
  &.center {
    text-align: center;
  }
  &.right {
    text-align: right;
  }
}