.pm_page_modal{
  backdrop-filter: blur(5px);
}

.btn-outline-secondary{
  border-radius: 6px;
  background-color: #009c98;
  border-color: #009c98;
  color: #fff;
  &:focus {
    filter: brightness(1);
    background-color: #009c98;
    border-color: #009c98;
    transition: 0.3s;
  }
  &:hover {
    filter: brightness(1.2);
    background-color: #009c98;
    border-color: #009c98;
    transition: 0.3s;
  }
  &:active{
      filter: brightness(1.2);
      background-color: #009c98;
      border-color: #009c98;
      transition: 0.3s;
  }
}

.pm_select{
  margin-right: 30px;
}
.project_management_container {
  padding-top: 40px;

  .project_select{
    margin-right: auto;
  }
  .pm_month_select{
    margin-right: 20px;
  }

  .oi-pencil{
    cursor: pointer;
  }
  .row{
    margin-left: 0;
    margin-right: 0;
  }

  .table-active{
    padding: 0 0 0 40px;
  }
  .card{
    border-radius:  8px;
    overflow: hidden;
    border-top: none;
  }
  thead{
    height: 70px;
    background-color: #009c98;
    color: #fff;
    border: 1px solid #009c98;
    .dx-rg-bs4-table-header-title{
      font-weight: 500;

    }
    span{
      line-height: 42px;
    }

    .text-primary{
      color: #fff !important;

    }
  }
  tbody{
    td{
      line-height: 36px;
    }
  }

  .dx-g-bs4-header-cell-content{
    justify-content: center;
  }
}

.pm_modal_header{
  background-color: #009c98;
  color: #fff;
  span{
    color: #fff;

  }

}
.pm_create_modal_form{
  display: flex;
  flex-direction: column;
}
.pm_create_modal_label{
  font-weight: bold;
  font-size: 18px;
  position: relative;
}
.pm_create_modal_input {
  position: relative;
  height: 48px;
  background: #ffffff;
  border: 1px solid #949494;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  padding-left: 8px;
  appearance: none;
  &::-webkit-scrollbar-track {
    background: #EEEEEE;
  }

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 35px;

  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.15);
  }

}

.pm_create_modal_team_label{
  .select_container{
    width: 100%;
    height: 48px;
    color: #222;
    border: 1px solid #949494;
    .select_title_text{
      font-size: 18px;
      color: #222;
    }

    .select_list_container{
      width: 100%;

      .select_list_item{
        line-height: 22px;
        span{
          font-size: 18px;
        }
      }
    }
  }

  .pm_create_modal_input_arrow{
    top:30px;
  }

}



.pm_create_modal_input_arrow{
  position: absolute;
  right: 15px;
  top: 42px;
  transform: rotate(90deg);
  font-size: 28px;
  pointer-events: none;
}

.pm_create_team_item{
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  &:last-child{
    margin-bottom: 30px;
  }
}
.pm_create_team_text{
  font-weight: 500;
}

.pm_create_team_close{
  font-size: 20px;
  cursor: pointer;
  & path{
    pointer-events: none;
  }
}
.pm_create_team_buttons_container{
  display: flex;
  justify-content: space-between;
}
.pm_edit_team_button_container{
  margin-left: auto;
}
.pm_create_team_item_pm{
  margin-bottom: 30px;
}
.pm_create_team_button{
  all: unset;
  cursor: pointer;
  text-align: center;
  width: 90px;
  height: 40px;
  border-radius: 6px;
  background-color: #009c98;
  border-color: #009c98;
  color: #fff;
  &:focus {
    filter: brightness(1);
    transition: 0.3s;
  }
  &:hover {
    filter: brightness(1.2);
    transition: 0.3s;
  }
}
.pm_create_team_button_disable {
  all: unset;
  //cursor: pointer;
  text-align: center;
  width: 90px;
  height: 40px;
  border-radius: 6px;
  background-color: #009c98;
  opacity: 0.5;
  border-color: #009c98;
  color: #fff;
}

.pm_create_team_control_container{
  display: flex;
  align-items: center;
}
.pm_create_team_checkbox_label{
  margin-right: 30px;
  margin-bottom: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.pm_create_team_checkbox{
  margin-right: 10px;
  height: 18px;
  width: 18px;
}

.disabled{
  opacity: .5;
}

