.vilmate-card-main-content.MuiCardContent-root {
  flex: 1 1 auto;
  padding: 0;
  text-align: center;
  .vailmate-card-position-text.MuiTypography-root {
    font-size: 11px;
    margin-bottom: 28px;
  }
}