.vilmate-card-main-content.MuiCardContent-root {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  text-align: center;
  .vailmate-card-position-text.MuiTypography-root {
    font-size: 11px;
  }
  .vailmate-card-position-title {
    margin-bottom: 3px;
    font-weight: 600;
  }
}