.vilmate-card-main-content.MuiCardContent-root {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  text-align: center;
  .vilmate-card-position-text.MuiTypography-root {
    max-width: 160px;
    margin-bottom: 7px;
    font-size: 11px;
  }
  .vilmate-card-position-title {
    max-width: 160px;
    margin-bottom: 3px;
    font-weight: 600;
    line-break: anywhere;
  }
  .vilmate-card-position-email.MuiTypography-root {
    max-width: 180px;
    font-size: 12px;
    line-break: anywhere;
  }
}