.vilmate-card-main-content.MuiCardContent-root {
  flex: 1 1 auto;
  padding: 0;
  text-align: center;
  .vailmate-card-position-text.MuiTypography-root {
    margin-bottom: 28px;
    font-size: 11px;
  }
  .vailmate-card-position-title {
    margin-bottom: 3px;
    font-weight: 600;
  }
}