.header_profile_avatar {
  width: 100%;
  height: auto;
  border-radius: 50%;
  background-color: #f3f3f3;
  border: 1px solid #1b1e21;
}

.error {
  width: 18px;
  height: 18px;
}

/*@media screen and (max-device-width: 900px) {
  .header_profile_avatar {
    width: 70px;
    height: 70px;
  }
}*/

