@import "styles/commonStyles.scss";

.report__item{
  background: $whiteColor;
  border: 1px solid rgba(201, 201, 198, 0.4);
  box-sizing: border-box;
  border-radius: 6px;
  height: 74px;
  margin-bottom: 15px;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: $mainBlackColor;
  z-index: 100;

  div{
    &:first-child{text-align: left;}
    &:not(:first-child){
      font-size: 15px;
      font-weight: 500;

      .difference{
        color: $mainRedColor;
        font-weight: 600;
        background: #F3F3F3;
        height: 72px;
        width: 134px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .actions{
        display: flex;
        &>div{
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &-check{
          label{
            &::before{
              content: "";
              background: $whiteColor;
              border: 2px solid #616161;
              box-sizing: border-box;
              border-radius: 6px;
              width: 20px;
              height: 20px;
              position: absolute;
              top:26px;
            }
            input{
              opacity: 0;
            }
          }
        }
      }
    }
  }
}

.grn{
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: $separatorTextColor;
  margin-left: 2px;
}

.new-costs {
  margin-top: 40px;
  width: 100%;
  height: 74px;
  border: 1px dashed $mainGreenColor;
  box-sizing: border-box;
  border-radius: 6px;

  &__cont {
    height: 74px;
    letter-spacing: 0.03em;
    color: $mainGreenColor;
  }
}