.project_report_container {
  padding-top: 40px;
  .table_container {
    overflow-x: scroll;

    .table_scroll {
      min-width: 900px;
    }
  }
  .table_header_container,
  .table_body_container,
  .table_body_item,
  .table_body_item_row {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(0, 140, 129);
  }

  .table_cell {
    flex: 1;
    text-align: left;
    padding: 0 10px;
    height: 50px;
    display: flex;
    align-items: center;
    min-width: 0;
  }

  .table_header_container .table_cell {
    color: #fff;
  }

  .table_cell.name {
    flex: 1.6;
  }

  .table_cell.sort {
    cursor: pointer;
  }

  .table_cell.name > span {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
  }

  .table_body_container {
    background-color: white;
    flex-direction: column;
  }

  .table_body_item {
    background-color: unset;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid rgb(237, 237, 237);
    margin-bottom: 10px;
    overflow: hidden;
  }

  .table_body_item:first-child {
    border-top-right-radius: unset;
    border-top-left-radius: unset;
    border-top: unset;
  }

  .table_body_item_row {
    background-color: unset;
  }

  .table_body_item_row.common {
    cursor: pointer;
  }

  .table_body_item_row.common:hover {
    background-color: rgba(0, 140, 129, 0.1);
    transition: all 0.3s;
  }

  .table_body_item_row.more_project {
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
  }

  .table_body_item_row.more_project.open {
    background-color: rgb(241, 241, 241);
    border-top: 1px solid rgb(237, 237, 237);
    height: 50px;
    transition: height 0.3s;
  }

  .show_more_project_btn_container {
    color: rgb(0, 140, 129);
    background-color: rgb(241, 241, 241);
    width: 100%;
    font-size: 12px;
    border-top: 1px solid rgb(237, 237, 237);
  }

  .show_more_project_btn_container > span {
    cursor: pointer;
    margin-right: 15px;
  }

  .show_more_project_btn_container > span:hover {
    cursor: pointer;
    filter: brightness(0.8);
    transition: all 0.3s;
  }

  .show_more_project_btn_container > .active {
    transform: rotate(-180deg);
    transition: all 0.3s;
  }

  .project_report_header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    .project_report_header_choice {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .project_select_container {
        margin-right: 20px;
      }
    }
  }
}
