.profile{
  font-family: Montserrat;
  &-title{
    text-align: left;
    font-size: 24px;
    line-height: 36px;
    border-bottom: 1px solid rgba(201, 201, 198, 0.7);
    padding: 35px 0 45px;
    margin-bottom: 30px;
  }
  &__container{
    background: #FFFFFF;
    border: 1px solid rgba(201, 201, 198, 0.4);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;

    &-image{
      width: 180px;
      height: 180px;
      border-radius: 50%;
      margin-bottom: 20px;
      margin-top: 20px;
    }

    &-title{
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.017em;
      color: #222222;
      font-weight: bold;
      &.small{
        font-size: 18px;
        text-align: left;
      }
    }

    &-position{
      font-weight: 500;
      font-size: 14px;
      color: #616161;
      margin-bottom: 20px;
      letter-spacing: 0.004em;
    }

    .btn{
      background: #F0F0F0;
      border: 1px solid rgba(201, 201, 198, 0.4);
      box-sizing: border-box;
      border-radius: 5px;
      color: #222222;
      font-weight: 600;
      padding: 8px;
      margin: 10px;
      font-size: 13px;
      font-weight: 600;
      height: 40px;
      margin-bottom: 4px;
    }
    .project{
      border: 1px solid rgba(201, 201, 198, 0.4);
      box-sizing: border-box;
      border-radius: 6px;
      padding: 14px 16px 0px;

      &:not(:last-child){
        margin-bottom: 12px;
      }

      &-title{
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #009C98;
        text-align: left;
      }

      &-manger{
        letter-spacing: 0.02em;
        color: #616161;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        text-align: left;
      }
    }

    .info__item{
      margin: 25px;
      &:last-child{
        margin-bottom: 10px;
      }
      &-icon-container{
        background: #F0F0F0;
        border-radius: 10px;
        width: 42px;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &-wrap{
        margin-left: 10px;
      }

      &-label{
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.004em;
        color: rgba(34, 34, 34, 0.5);
        margin-bottom: 0;
      }

      &-value{
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.016em;
        color: #222222;
        margin-bottom: 0;
      }
    }
  }

  .works-on{
    h4{
      margin-top: 8px;
      margin-bottom: 17px;
    }
  }

  .personal__info{
    padding: 0;
    h4{
      &:not(.small){
        background: #FAFAFA;
        border-radius: 9px 9px 0px 0px;
        margin-bottom: 0;
      }
      padding: 18px 24px;
    }

    &-about{

      .description{
        height: 92px;
        overflow: hidden;
        transition:all 2s ease-out;

        &.open{
          max-height:max-content;
          transition:all 7s ease-out;
        }
      }

      p{
        padding: 0px 24px 0;
        font-size: 13px;
      }

      .more{
        display: flex;
        margin: 0 25px 25px;
        color: #009C98;
        font-size: 14px;
        line-height: 24px;
        text-decoration: none;
        width: 125px;
        height: 40px;
        align-items: center;
        cursor: pointer;

        .arrow{
          background: url("../../images/up-arrow.png");
          background-repeat: no-repeat;
          background-position: center;
          width: 40px;
          height: 40px;

          &.open{
            transform: rotate(90deg);
          }
        }
      }
    }
  }
}


