.hint-window{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    background: #696969;
    border: 1px solid rgba(201, 201, 198, 0.4);
    border-radius: 4px;
    z-index: 9999;
    .hint-text{
        
        font-size: 10px;
        font-weight: 500;
        line-height: 1.2;
        color: rgb(255, 255, 255);
        white-space: nowrap;
    }
}