@import "src/styles/commonStyles";

.content_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 474px;
}

.content {
  padding: 12px 16px;
  margin-bottom: 6px;
  background: $fullGrey;
  border: 1px solid $grayBorderColor;
  border-radius: 0 6px 6px 6px;
}

.name {
  font-weight: 600;
}

.date {
  color: $separatorTextColor;
  margin-right: 30px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.delete {
  cursor: pointer;
  font-weight: 600;
}