@import "src/styles/commonStyles.scss";

.main_container{
    form{
        .div_info_row{
            .info_data{
                padding: 8px 10px;
                border: 1px solid rgba(201, 201, 198, 0.4);
                border-radius: 5px;
                width: 240px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .info_data_focus{
                border: none;
                padding: 0;
                overflow: visible;

                #description::-webkit-scrollbar {
                    width: 6px;
                }
                
                #description::-webkit-scrollbar-track {
                    background-color: #F3F3F3
                }
                
                #description::-webkit-scrollbar-thumb {
                    box-shadow: inset 0 0 6px #14918d;
                } 
            }
            input{
                margin-top: 15px;
                left: 220px;
            }
        }
        .project-description{
            flex-direction: column;
            height: auto;
            display: block;
            .info_data{
                font-size: 14px;
                left: 0;
                height: 75px;
                width: 100%;
                position:inherit;
                display: block;
                margin: 21px 5px;
                white-space: pre-line;
                text-overflow: ellipsis;
            }
    
            textarea{
                width: 562px;
                background: $whiteColor;
                border: 1px solid $mainGreenColor;
                box-sizing: border-box;
                border-radius: 4px;
                resize: none;
                font-size: 14px;
                height: 75px;
            }

            & + .row2  {
                display: none;
            }
        }

        .div_info_row:nth-child(3){
            .info_data{
                height: 39px;
            }
        }

        .div_info_row:nth-child(4){
            .info_data{
                height: 39px;
            }
        }

        .div_info_row:nth-child(5){
            cursor: default;
            .info_data{
                border: none;
            }
        }
    }
    .projects_info{
        display: flex;
        min-width: 100%;
        }
        .project_data{
            width: 100%;
        }
}      



.project_data_header{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 46px;
    text-align: center;
    padding: 11px 25px;
    
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: rgba(34, 34, 34, 0.4);
    background: #F3F3F3;
    padding: 11px 25px;
    .project_data_header-title{
        text-align: left;
        .project_data_info_icon_container {
            cursor: pointer;
            margin-left: 14px;
            svg {
                vertical-align: top;
            }
        }
    }
    .edit_modal-team_name{   
        width:  40%;
    }
    .edit_modal-team_occupancy{
        width: 32%;
    }
    .edit_modal-team_hours{
        width: 25%;
        justify-self: end;
        text-align: center;
    }
}

.team-container{
    overflow-y: scroll;
    max-height: 228px;
    .team-m{
        .container-team_modal{
            .avatar-cont{
                div{
                    display: flex;
                    align-items: center;
                    .team-m-name{
                        margin-bottom: 0;
                        a{
                            
                            font-weight: 600;
                            font-size: 14px;
                            color: $mainBlackColor;
                            cursor: pointer;
                            &:hover{
                              text-decoration: none;
                            }
                          }

                    }
                }
            }
        }
    }
  }

  .team-container::-webkit-scrollbar {
    width: 6px;
}

.team-container::-webkit-scrollbar-track {
    background-color: #F3F3F3
}

.team-container::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px #14918d;
}

.MuiPopover-root {
    z-index: 9999 !important;
    top: 8px !important;
    left: 24px !important;
    cursor: pointer;
    .MuiPaper-root {
        top: 20px;
        max-width: 408px;
        padding: 24px 32px;
        background: $whiteColor;
        border-radius: 12px;
    }
}