.add-selected{
  position: absolute;
  left: 20px;
  bottom:120px;
  width: 272px;
  height: 356px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  font-family: 'Montserrat';

  &.members{
    top:220px;
  }


  .search{
    width: 256px;
    height: 40px;
    border: none;
    background: none;
    padding: 16px 8px;
    input{
      width: 256px;
      height: 40px;
      color: #222222;
    }
  }

  .check-items-box{
    width: 256px;
    height: 208px;
    margin:30px 8px 0;
    overflow-y: scroll;
    .check-item{
      display: flex;
      align-items: flex-end;
      height: 40px;
      margin: 6px 0;

      &.checked{
        background: rgba(87, 108, 108, 0.12);
        border-radius: 5px;
        width: 100%;
      }
      label{
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #222222;
        position: relative;
        cursor: pointer;
        input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
        }

        .checkmark {
          position: absolute;
          top: 3px;
          left: 10px;
          height: 18px;
          width: 18px;
          background-color: #fff;
          border:solid 2px #616161;
          border-radius: 3px;
        }

        input:checked + .checkmark{
          border:solid 2px #009C98;
          background-image: url("../../../images/ic_check_green.svg");
          background-repeat:no-repeat;
          background-position: center;
        }

      }
      &-name{
        margin-left: 40px;
      }
    }

  }

  .btn-cont{
    border-top: 1px solid rgba(201, 201, 198, 0.7);
    margin:10px 16px;
    padding-top: 12px;
  }
}