@import "src/styles/commonStyles";

.google-auth-success-container {
  max-width: 758px;
  border: 1px solid $grayBorderColor;
  border-radius: 10px;
  background-color: $whiteColor;
  &-form {
      padding: 17px 24px 40px;
    &-header {
      margin-bottom: 24px;
      &-title.MuiTypography-root  {
        margin-bottom: 19px;
        font-weight: 600;
      }
    }
      &-actions {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        >div {
          margin-bottom: 24px;
        }
      }
  }
}


