.custom-avatar.MuiAvatar-root {
  &.small {
    width: 36px;
    height: 36px;
    margin-right: 16px;
  }
  &.medium {
    width: 80px;
    height: 80px;
    margin-bottom: 24px;
  }
  &.large {
    width: 180px;
    height: 180px;
    margin-bottom: 20px;
  }
}