@import 'styles/commonStyles.scss';

.container {
  display: flex;
  flex-direction: column;

  padding: 16px;
  margin-bottom: 16px;
  border: 1px solid $grayBorderColor;
  border-radius: 6px;

  &:last-child {
    margin-bottom: 0;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 16px;
  p{
    &:first-child {
      max-width: 150px;
      line-break: anywhere;
    }
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.icon {
  flex-basis: 10%;
  display: flex;
  justify-content: right;
  align-items: flex-start;

  & :global .MuiIconButton-label:hover path {
    fill: $mainGreenColor;
  }

  & :global .MuiIconButton-root {
    padding: 0;
  }
}

.title {
  flex-basis: 80%;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  word-break: break-all;
  color: $mainGreenColor;
  max-width: 150px;
}

.ownerName {
  font-size: 16px;
  line-height: 24px;
}

.occupation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 18px;
  cursor: pointer;
  font-size: 16px;

  &:hover {
    padding-bottom: 0;
  }

  & :global .MuiRadio-root {
    padding: 4px 9px;
  }
}
