@import 'styles/commonStyles.scss';

.container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: start;
  row-gap: 16px;

  padding: 16px;
  margin-bottom: 16px;
  border: 1px solid $grayBorderColor;
  border-radius: 6px;

  &:last-child {
    margin-bottom: 0;
  }
}

.icon {
  display: flex;
  justify-content: right;
  cursor: pointer;

  & :global .MuiIconButton-root {
    padding: 0;
  }
}

.title {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: $mainGreenColor;
}

.ownerName {
  font-size: 14px;
  line-height: 24px;
}

.occupation {
  display: flex;
  justify-content: flex-end;

  & :global .MuiTypography-body1 {
    font-size: 14px;
  }
}
