@import "src/styles/commonStyles";

.modal-container-Mui-custom {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 630px;
  box-shadow: -10px 10px 35px $mainGrayColor;
  background-color: $whiteColor;
  border: 1px solid $grayBorderColor;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  &-form {
    padding: 35px 35px 0;
    &-header {
      margin-bottom: 14px;
      &-title.MuiTypography-root {
        margin-bottom: 20px;
        font-weight: 600;
      }
      svg {
        position: absolute;
        top: 25px;
        right: -45px;
        cursor: pointer;
      }
    }
    &-actions {
      margin: -1px -36px;
      &-button.MuiButton-root {
        padding: 20px;
        border-radius: 0 0 20px 20px;
        font-weight: 600;
      }
      & .MuiButtonGroup-root {
        height: 64px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        .MuiButton-root {
          border-top-right-radius: 0;
          border-top-left-radius: 0;
          &:last-child {
            border-bottom-right-radius: 20px;
            font-weight: 600;
          }
          &:first-child {
            border-bottom-left-radius: 20px;
            font-weight: 600;
          }
        }
      }
    }
  }
}