
.arrow-up {
  position: relative;
  left: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: #D6D6D3;
  font-size: 22px;
  margin: 0;
  &.active{
    color: #009C98;
    background: rgba(0, 156, 152, 0.1);
    cursor: pointer;
    animation: animate 2.5s linear infinite;
  }
}

@keyframes animate {
  0%, 100% {
      transform: scale(1);
  }

25%, 75% {
    transform: scale(1.1);
}

  50% {
      transform: scale(1.2);
  }
}
