.item {
  height: 42px;
  flex-basis: 75%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.text {
  flex-basis: 75%;
  padding: 12px 12px 12px 0;

  text-align: left;
  font-size: 14px;
}

.time {
  flex-basis: 5%;
  flex-shrink: 0;
  min-width: 57px;
  padding: 12px;

  text-align: left;
  font-size: 14px;
}

.button {
  flex-basis: 5%;
  flex-shrink: 0;
  min-width: 41px;
  height: 42px;
  padding: 0;
}

.icon {
  font-size: 17px;
}