.container {
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.item {
  min-height: 42px;
  flex-basis: 75%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  line-break: anywhere;
}

.textWrapper {
  flex-basis: 75%;
  text-align: left;
}

.text {
  padding: 12px 12px 12px 0;
  font-size: 14px;
  cursor: text;
  display: inline-block;
}

.time {
  flex-basis: 5%;
  flex-shrink: 0;
  min-width: 57px;
  padding: 8px;

  text-align: left;
  font-size: 14px;
}

.button {
  flex-basis: 5%;
  flex-shrink: 0;
  min-width: 41px;
  height: 42px;
  padding: 0;
}

.icon {
  font-size: 17px;
}
