@import "src/styles/commonStyles";

.modal-container-form {
  &-users-sync-list {
    max-height: 500px;
    padding: 10px 60px;
    margin-bottom: 50px;
    overflow: auto;

    &-title {
      margin-bottom: 30px;
      font-weight: 600;
    }

    &-container {
      display: flex;
      justify-content: space-between;
      &-database {
        max-width: calc(434px/2);
        & .MuiListItemText-root {
          max-width: 200px;
        }
        &:after {
          content: '';
          position: absolute;
          top: 1rem;
          right: 0;
          height: 100%;
          width: 1px;
          background: $fullGrey;
        }
      }
      &-google-sheet {
        max-width: calc(434px/2);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        & .MuiListItemText-root {
          max-width: 200px;
        }
      }
    }

    &::-webkit-scrollbar {
      width: 6px;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background: $scrollTrackBackground;
      border-radius: 10px;
      -webkit-box-shadow: inset 0 2px 2px $scrollBoxShadow;
    }

    &::-webkit-scrollbar-thumb {
      box-shadow: 0 2px 2px $scrollBoxShadow;
      background-color: $scrollThumbBackground;
      border-radius: 10px;
    }
  }
}