@import "src/styles/commonStyles";

.modal-container-form {
  &-users-sync-list {
    max-height: 500px;
    padding: 10px 60px;
    margin-bottom: 50px;
    overflow: auto;

    &-title {
      margin-bottom: 30px;
      font-weight: 600;
    }

    &-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-database {
        li.MuiListItem-root {
          justify-content: center;
        }
      }

      &-google-sheet {
        li.MuiListItem-root {
          justify-content: center;
        }
      }
    }

    &::-webkit-scrollbar {
      width: 6px;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background: $scrollTrackBackground;
      border-radius: 10px;
      -webkit-box-shadow: inset 0 2px 2px $scrollBoxShadow;
    }

    &::-webkit-scrollbar-thumb {
      box-shadow: 0 2px 2px $scrollBoxShadow;
      background-color: $scrollThumbBackground;
      border-radius: 10px;
    }
  }
}