@import '../../../styles/commonStyles.scss';

.container {
  padding: 0 6px;
  background-color: $lightGreenColor;
  border-bottom: 1px solid $mainGreenColor;
}

.slide {
  padding: 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  user-select: none;

  & span {
    color: $lightBlackColor;
    line-height: 24px;
    text-transform: uppercase;
  }

  &.selected span {
    color: $mainGreenColor;
  }
}

.label {
  font-weight: 500;
}

.value {
  font-weight: 600;
}
