#modal {
  position: relative;
}
#modal:not(.active) ~ #root {
  transition: 400ms filter ease-in-out, 800ms opacity ease-out;
  filter: blur(0);
  opacity: 1;
}
#modal ~ #root {
  filter: blur(2px);
  opacity: 0.5;
  transition: 300ms filter ease-in-out, 800ms opacity ease-out;
}

.modal_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  padding: 23px;
}
