$background: #e5e5e5;

$black: #000000;

$black2: #222222;

$grey-text: #616161;

$lightGreenBackground: #009c9819;

$mainGreen: #009C98;

$mainGreenDark: #125856;

$whiteColor: #FFFFFFFF;

$disabled: #E5E5E5FF;
