/* body {
  overflow-y: scroll;
} */

.app {
  text-align: center;
  background:#E5E5E5;
}
.app_without_scroll{
  text-align: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1212px;
  padding: 0 15px;
}

.error_page {
  background: url(../images/500.png) center no-repeat,
    url(../images/6os.gif) left center no-repeat,
    url(../images/6os.gif) right center no-repeat rgb(237, 243, 249);
  background-size: auto;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding-top: 10vh;
  max-width: 100%;
  padding: 10vh 15%;
}

.error_page h1 {
  text-align: center;
}
