$authBackgroundColor: #E5E5E5;
$mainBlack: #222222;
$black: #000000;
$white: #FFFFFF;
$borderColor: rgba(0, 0, 0, 0.2);
$separatorColor: rgba(173, 173, 167, 0.4);
$separatorText: #ADADA7;
$submitColor: #009C98;

%mainBorder {
  border-color: $borderColor;
  border-width: 1px;
  border-style: solid;
}
