.spinner_container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  position: fixed;
  left: 0;
  top: 70px;
  z-index: 998;
  &.not_blurred {
    background-color: inherit;
  }
  &.full {
    backdrop-filter: blur(3px);
    top: 0;
  }
}
