@import "src/styles/commonStyles";

.user-vilmate-card.MuiCard-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 235px;
  padding: 30px 16px 16px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    border: 1px solid $mainGreenColor;
  }
}