//right sight of statistic block

.vilmates-page-users-statistics-amount-actions-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  p {
    margin-right: 6.3px;
    font-weight: 600;
  }
  svg {
    width: 7.5px;
    height: 15px;
  }
}