input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.in_house_employees_page {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #F3F3F3;
  padding: 35px 0 0 40px;
  flex-direction: column;

  .header {
    display: flex;
    flex-direction: row;

    .header_text {
      display: flex;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
      letter-spacing: 0.018em;     
      color: #000000;  
      width: auto;
      height: 36px;
    }

    .selected_currency {

      .currency {
        margin: 0 0 0 439px;
        height: 40px;
        background-color: #FFFFFF;
        display: flex;
        padding: 8px 10px 8px 14px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        border-radius: 4px;

        .flag {
          width: 22px;
          height: 22px;
          // margin-top: 9px;
        }

        .currency_name {
          width: 33px;
          height: 24px;
          font-family: Montserrat;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
          text-align: center;
          letter-spacing: 0.03em;
          color: #222222;
          margin: 0 0 0 10px;
        }

        .up_arrow {
          transform: rotate(180deg);
          width: 18px;
          height: 18px;
          margin: 0 0 0 10px;
        }

        &.open_menu {
          .up_arrow {
            transform: rotate(0);
          }
        }
      }

      .drop_down_menu {
        width: 159px;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.12);
        border-radius: 6px;
        z-index: 2;
        display: flex;
        flex-direction: row;
        text-align: left;
        position: absolute;
        left: 1000px;
        top: 79px;

        .currency_label {
          height: 40px;
          background: #FFFFFF;
          border-radius: 5px;
          width: 143px;
          margin: 8px 8px 8px 8px;
          padding: 6px 0 10px 8px;

          &:hover {
            background: rgba(87, 108, 108, 0.15);
            cursor: pointer;
          }

          .flag {
            width: 22px;
            height: 22px;
          }

          .name {
            margin-left: 10px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            text-align: center;
            letter-spacing: 0.03em;
            color: #222222;
          }

          .dash {
            margin-left: 5px;
          }

          .value {
            margin-left: 5px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            text-align: center;
            letter-spacing: 0.03em;
            color: #222222;
          }
        }
      }
    }

    .row {
      display: flex;
      margin: 20px 0 0 5px;
    }

    .currency_value {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 8px 16px;
      background: #FFFFFF;
      border: 1px solid rgba(0, 0, 0, 0.2);
      box-sizing: border-box;
      border-radius: 4px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.03em;
      color: #222222;
      margin: 0 0 0 5px;
      height: 40px;
      width: 78px;
      padding: 0;
    }

    .check_button,
    .check_button_disabled {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background: #009C98;
      border-radius: 4px;
      margin-left: 15px;
      width: 40px;
      height: 40px;
      cursor: pointer;

      .check {
        width: 16px;
        height: 13px;
      }
    }

    .check_button_disabled {
      background: #99D7D6;
      cursor: default;
    }
  }

  .row_2 {
    margin: 25px 0 0 0;
    width: 971px;
    height: 0px;
    border: 1px solid rgba(201, 201, 198, 0.7);
  }

  .search_container {
    margin: 30px 0 0 0;
    display: flex;
    flex-direction: row;

    .row {
      display: flex;
      margin: 20px 5px 0 5px;
    }

    .select_container {
      border-color: rgba(0, 0, 0, 0.2);;
    }

    .select_month {
      margin-left: 25px;
      border-radius:none;
      border: 1px solid rgba(0, 0, 0, 0.2);
      padding: 0;

      .select_month_container {
        border: 0;

        .prev_month {
          border-radius: 0;
          border-color: rgba(0, 0, 0, 0.2);
        }

        .next_month {
          border-radius: 0;
          border-color: rgba(0, 0, 0, 0.2);
        }
      }
    }

    .choose_active {
      height: 40px;
      padding: 0 10px 0 16px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background: #FFFFFF;
      border: 1px solid rgba(0, 0, 0, 0.2);
      box-sizing: border-box;
      border-radius: 4px;
      margin-left: 220px;

      .choose_active_text {
        margin-left: 10px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #222222;
      }

      .up_arrow_box {
        .up_arrow {
          transform: rotate(180deg);
          margin-left: 10px;
        }
      }
    }

    .choose_container {
      position: absolute;
      width: 127px;
      display: flex;
      flex-direction: column;
      text-align: left;
      border: 1px solid rgba(0, 0, 0, 0.2);
      background: #FFFFFF;
      border-radius: 4px;
      z-index: 2;
      left: 1168px;
      top: 178px;
      padding: 0 0 10px 0;

      .choose_text {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #222222;
        margin-top: 7px;
        padding: 0 0 0 10px;

        &:hover {
          background: rgba(87, 108, 108, 0.15);
          cursor: pointer;
        }
      }
    }
  }

  .users_table {
    margin-top: 40px;

    .users_table_header {
      display: flex;
      flex-direction: row;

      .name_ordering,
      .pay_ordering {
        display: flex;
        flex-direction: row;
        height: 24px;
        text-align: center;
        margin-left: 30px;

        .name {
          font-family: Montserrat;
          font-style: normal;
          font-weight: bold;
          font-size: 13px;
          line-height: 24px;
          text-align: right;
          letter-spacing: 0.02em;
          color: rgba(34, 34, 34, 0.3);

        }

        .arrows {
          display: flex;
          flex-direction: column;
          margin-top: -8px;
          margin-left: 5px;
          padding-top: 0;

          .arrow {
            height: 10px;
          }
        }
      }
    }

    .projects,
    .salary,
    .overtime {
      margin-left: 231px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      line-height: 24px;
      text-align: right;
      letter-spacing: 0.02em;
      color: rgba(34, 34, 34, 0.3);
    }

    .salary {
      margin-left: 60px;
    }

    .overtime,
    .pay_ordering {
      margin-left: 75px;
    }

    .user_info {
      display: flex;
      flex-direction: row;
      height: 74px;
      width: 971px;
      padding: 15px 30px 0 30px;
      background: #FFFFFF;
      border: 1px solid rgba(201, 201, 198, 0.4);
      box-sizing: border-box;
      border-radius: 6px;
      margin-top: 15px;

      .user_avatar {
        width: 44px;
        height: 44px;
      }

      .name_email {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-left: 14px;

        .name {
          font-family: Montserrat;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.017em;
          color: #222222;
        }

        .email {
          font-family: Montserrat;
          font-style: normal;
          font-weight: 600;
          font-size: 10px;
          line-height: 12px;
          display: flex;
          align-items: center;
          letter-spacing: 0.018em;
          color: #ADADA7;
          margin-top: 5px;
        }
      }
    }
  }
}