@import "src/styles/commonStyles";

.information {
  //margin-bottom: 35px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.list_item {
  flex: 1 1 50%;
  padding: 0;
  margin-bottom: 25px;
  &:nth-child(even) {
    flex: 1 1 40%;
  }
  & :global .MuiGrid-container .MuiGrid-item svg {
    display: none;
  }
  &:hover {
    & :global .MuiGrid-container .MuiGrid-item svg {
      display: flex;
    }
  }
  & :global .react-datepicker-wrapper {
    flex: 1 1 500px;
  }
  & :global .react-datepicker__tab-loop .react-datepicker-popper .react-datepicker {
    box-shadow: 0 15px 40px rgba(77, 77, 77, 0.19);
    border: 1px solid #EBEBEB;
    border-radius: 6px;
    & .react-datepicker__triangle {
      display: none;
    }
    & button {
      padding-top: 25px;
      & span:before {
        border-color: $calendarButtonsColor;
      }
    }
  }
  & :global .react-datepicker__tab-loop .react-datepicker-popper .react-datepicker .react-datepicker__month-container {
      & .react-datepicker__month .react-datepicker__week .react-datepicker__day{
        &:hover {
          background: $darkWhiteBgColor;
          border-radius: 50%;
          color: $mainBlackColor;
        }
        &--selected {
          background: $mainGreenColor;
          border-radius: 50%;
          color: $whiteColor;
        }
        &.react-datepicker__day--keyboard-selected {
          background: inherit;
          color: inherit;
        }
      }
    & .react-datepicker__header {
      padding: 15px 0;
      background-color: $whiteColor;
      border: none;
      & .react-datepicker__day-names {
        padding-top: 15px;
        & .react-datepicker__day-name {
          color: $darkGrayColor;
        }
      }
    }
  }
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  min-width: 42px;
  margin-right: 12px;
  background: $darkWhiteBgColor;
  border-radius: 10px;
}

.information_textField {
  flex: 1 1 1000px;
  & :global .MuiOutlinedInput-root {
    cursor: pointer;
    input {
      cursor: pointer;
    }
  }
  fieldset {
    border-style: none;
  }
  & :global .MuiOutlinedInput-root.Mui-focused {
    fieldset {
      border: 1px green solid;
    }
    input {
      cursor: text;
    }
  }
}

.save, .close {
  svg {
    display: block !important;
    cursor: pointer;
  }
  &:hover {
    background: #eaeaea;
  }
  min-width: auto;
  padding: 0;
}