@import "../../../styles/commonStyles.scss";

.plus{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: #D6D6D3;
  font-size: 22px;
  color:#616161;
  cursor: pointer;
  &.active{
    color: $mainGreenColor;
    background: rgba(0, 156, 152, 0.1);
  }
}