@import '../../styles/commonStyles.scss';

.time_report_container {
  display: flex;
  flex: 1;
  align-items: flex-start;
  flex-direction: column;
  &.fetching {
    filter: blur(1px);
  }
  .time_report_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    .time_report_header_select_section {
      display: flex;
      flex-wrap: wrap;

      .developer_select {
        margin-right: 20px;

        .select_title_container {
          position: relative;
          max-width: 200px;
          .select_title_text {
            padding-left: 5px;
          }

          .select_title_icon {
            position: absolute;
            right: 12px;
          }
        }
      }
    }

    .time-report-prject-wrap {
      font-size: 20px;
      .divider {
        width: 1px;
        height: 36px;
        border: 1px solid rgba(34, 34, 34, 0.3);
        margin: 0 16px;
      }
    }

    .time_report_header_btn_section {
      display: flex;
      justify-content: flex-start;
      .time_report_header_select_month {
        margin-right: 20px;
      }
      .export_btn {
        height: 36px;
        width: 167px;
        border-radius: 5px;
        background-color: $mainGreenColor;
        color: $whiteColor;
        display: flex;
        align-items: center;
        justify-content: center;
        border: unset;
        transition: 0.3s ease-out;
        &:hover,
        &:focus {
          background-color: #3bbbb7;
          transition: 0.3s ease-in;
        }
        .export_icon_container {
          margin-right: 10px;
          line-height: 18px;
        }
        .export_btn_text {
          color: $whiteColor;

          font-size: 14px;
          font-weight: 500;
          line-height: 18px;
        }
        @media screen and (max-device-width: 390px) {
          width: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          .export_btn_text {
            display: none;
          }
          .export_icon_container {
            margin-right: unset;
          }
        }
      }
    }
  }

  .time_report_total_container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;

    h1 {
      font-size: 24px;
      font-style: normal;
      color: #000;
    }

    .time_report_total_hours {
      span {
        color: #616161;
        font-size: 14px;
        font-weight: 500;
        line-height: 19px;
      }

      strong {
        margin-left: 10px;
        font-size: 18px;
        font-weight: 400;
        color: #000;
      }
    }
  }

  .time_repord_checkbox {
    align-self: flex-end;
    order: 2;
    label {
      display: flex;
      align-items: center;
    }
    input {
      margin-right: 10px;
    }
  }

  .project_select {
    margin-right: 20px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 10px;
      left: 10px;
      width: 16px;
      height: 16px;
      background-image: url('../../images/projects.svg');
      background-repeat: no-repeat;
    }

    .select_title_text {
      margin-left: 10px;
    }
  }

  .time_report_day_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    box-shadow: 0 0px 5px 2px rgba(158, 167, 171, 0.3);
    border-radius: 5px;
    min-height: 74px;
    justify-content: center;
    &:not(:first-child) {
      background: $whiteColor;
      .past {
        padding-bottom: 12px;
        position: relative;
      }
    }

    &:first-child {
      border: 1px solid $mainGreenColor;
    }

    &_create {
      display: flex;
      flex-wrap: wrap;
      padding: 16px 25px;
      justify-content: space-between;
    }

    &.below {
      box-shadow: 0 0 5px 2px #009c97a9;
    }
    .time_report_day_header {
      flex-basis: 15%;
      display: flex;
      margin-right: 10px;
      margin-top: 9px;

      .time_report_day_add {
        color: $separatorTextColor;
        width: 30px;
        height: 30px;
        border: 0;
        background: transparent;
        cursor: auto;
        margin-left: 6px;
      }
      .time_report_day_title {
        color: $mainBlackColor;
        font-size: 16px;
        font-weight: 600;
        line-height: 19px;
        text-align: left;
        width: 210px;
      }
      .today_day {
        color: $mainGreenColor;
      }

      .time_report_day_addbtn {
        height: 28px;
        width: 40px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        line-height: 27px;
        background-color: unset;
        cursor: pointer;
        .add_icon {
          color: #d5d5d5;
          transition: 0.3s;
          &.create_icon {
            transform: rotate(45deg);
          }
          &.delete_icon {
            transform: rotate(90deg);
          }
        }
        &:hover {
          .add_icon {
            color: #968c8c;
          }
        }
        &:focus {
          .add_icon {
            color: #968c8c;
          }
        }
      }
      .active .add_icon {
        color: $mainGreenColor !important;
      }
      .text-danger {
        position: relative;
        padding-right: 10px;
      }
      .text-danger::after {
        content: ' ';
        position: absolute;
        top: -1px;
        right: -15px;
        width: 20px;
        height: 20px;
        background-image: url('../../images/timereport/image 24.png');
        background-repeat: no-repeat;
      }
    }

    .time_report_day_row_create {
      flex-basis: 75%;
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      animation: createTimeReport 0.3s 1 ease;

      .select_title_container {
        .select_circle-icon {
          margin-left: 8px;
          width: 6px;
        }
      }

      .select_circle-icon {
        width: 7px;
        height: 6px;
        border-radius: 50%;
      }

      &.close {
        height: 0;
        opacity: 0;
        margin-bottom: 0;
        animation: createTimeReportClose 0.3s 1 ease;
      }

      .input {
        border: 1px solid #d5d5d5;
        border-radius: 5px;
        background-color: $whiteColor;
        padding: 0 24px;
        margin-right: 35px;
        color: #414141;
        font-size: 18px;
        font-weight: 500;
        transition: 0.3s ease-out;
        &:focus {
          border-color: #97aabd;
          transition: 0.3s ease-in;
        }
      }
      .description_input_container {
        position: relative;
        width: 80%;
        margin-right: 50px;
        .description_input {
          width: 100%;
          height: 100%;
          font-weight: 600;
          font-size: 14px;
          line-height: 24px;
          padding: 0 12px;
          margin: 0;
          letter-spacing: 0.03em;
          color: #747473;
        }

        .left_size {
          position: absolute;
          top: 5px;
          right: 10px;
          color: rgb(190, 6, 6);
          font-size: 12px;
        }
      }

      .time_report_day_row_create_right {
        width: 20%;
        display: flex;
      }

      .hours_input {
        width: 55px;
        padding: 0 10px;
        font-size: 14px;
        margin-right: 30px;
      }

      .select_list_container {
        overflow: auto;
        max-width: 100%;

        .select_list_item {
          text-align: center;
        }
      }
    }

    .create_btn {
      width: 42px;
      height: 41px;
      border: unset;
      border-radius: 6px;
      background-color: $mainGreenColor;
      transition: 0.3s ease-out;
      svg {
        pointer-events: none;
      }
      &:hover {
        background-color: #726b62;
        transition: 0.3s ease-in;
      }
      &:focus {
        filter: brightness(1.5);
      }
      .pencil_icon {
        color: $whiteColor;
        font-size: 22px;
      }
    }
    .reports_item_list {
      border-top: 1px solid #c9c9c688;
    }
    .report-description-wrapper {
      width: 60%;
      display: flex;
      justify-content: space-between;
    }

    .time_report_day_footer {
      border-top: 1px solid #e8e8e8;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      color: rgba(34, 34, 34, 1);
      font-size: 15px;
      font-weight: 600;
      line-height: 19px;
      padding: 20px 25px;
      background-color: $whiteColor;
      border-end-start-radius: 5px;
      border-end-end-radius: 5px;
      span {
        margin-right: 84px;
        width: 40px;
        text-align: center;
      }
    }
  }

  .time_report_body_container {
    width: 100%;
  }
}

.time_report_day_row_titles {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  width: 100%;
  margin-bottom: 12px;
  margin-top: 45px;
  padding: 0 25px;
  font-weight: 700;

  div {
    text-align: left;
  }

  .time_report_activity_day {
    flex-basis: 20%;
  }

  .title-tasks {
    flex-basis: 50%;
  }

  .title-hours {
    flex-basis: 20%;
    display: flex;
    justify-content: flex-end;
  }

  .total_hours_month {
    position: relative;
    margin-left: 15px;
    color: $mainBlackColor;
    text-transform: lowercase;
  }
  .total_hours_month::after {
    content: '';
    position: absolute;
    left: -9px;
    width: 3px;
    height: 13px;
    background-color: $mainBlackColor;
    transform: translateY(25%);
  }

  div {
    color: rgba(34, 34, 34, 0.3);
    font-size: 13px;
  }
}

.my-node-enter {
  opacity: 0;
}

.funnel_select {
  width: 180px;
  margin-left: 40px;
  .select_title_container {
    justify-content: center;
    position: relative;

    .fa-filter {
      color: $whiteColor;
      background: $whiteColor;
    }

    &:before {
      content: '';
      position: absolute;
      left: 11px;
      top: 2px;
      width: 20px;
      height: 20px;
      background-image: url('../../images/filter2.svg');
      background-repeat: no-repeat;
    }

    .select_title_icon {
      position: absolute;
      right: 10px;
      top: 3px;
    }
  }
  .select_list_container {
    overflow: auto;
    .select_list_item_container {
      padding: 0 6px;
    }
  }
}

.my-node-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.delete_modal_overlay {
  width: 80%;
  max-width: 350px;
  height: 20vh;
  min-height: 190px;
  background-color: $whiteColor;
  box-shadow: 0 3px 8px 0 rgba(158, 167, 171, 0.5);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  .delete_modal_title {
    text-align: center;
  }
  .delete_modal_button_container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    button {
      width: 40%;
    }
  }
}

@keyframes openMenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes createTimeReport {
  from {
    height: 0px;
  }
  to {
    height: 60px;
  }
}

@keyframes createTimeReportClose {
  from {
    height: 60px;
    opacity: 1;
    margin-bottom: 15px;
  }
  to {
    height: 0;
    opacity: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-device-width: 1030px) {
  .funnel_select {
    margin-left: 10px;
  }
}

@media screen and (max-device-width: 830px) {
  .time_report_container {
    .time_report_header {
      align-items: normal;
      .time_report_header_select_section {
        margin-bottom: 10px;
        flex: 0.5;
        flex-wrap: wrap;

        .developer_select {
          margin-bottom: 10px;
        }
      }
      .time_report_header_btn_section {
        flex: 0.3;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-end;
        flex-direction: column;
        .time_report_header_select_month {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media screen and (max-device-width: 610px) {
  .time_report_container {
    .time_report_day_container {
      .time_report_day_row_create {
        //flex-wrap: wrap;
        height: auto;
        animation: unset;
        &.close {
          height: 0;
          opacity: 0;
          margin-bottom: 0;
          animation: createTimeReportCloseMobile 0.3s 1 ease;
        }
        .description_input_container {
          margin-right: 10px;
          //flex: 1;
          .input {
            margin-right: unset;
            // margin-bottom: 10px;
            height: 40px;
            font-size: 14px;
          }
        }
        .time_report_day_row_create_right {
          //width: 100%;
          display: flex;
          justify-content: flex-end;
          height: 40px;
          .input {
            font-size: 14px;
          }
        }
      }
    }
  }
  .edit_modal_overlay {
    top: 30%;
    form {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      .edit_modal_input_wrap {
        margin-bottom: 10px;
        display: flex;
        width: 100%;
      }
      .edit_modal_button_container {
        width: 100%;
        flex: unset;
      }
    }
  }
  @keyframes createTimeReportCloseMobile {
    from {
      opacity: 1;
      margin-bottom: 15px;
    }
    to {
      height: 0;
      opacity: 0;
      margin-bottom: 0;
    }
  }
}

@media screen and (max-device-width: 560px) {
  .time_report_container {
    .time_report_day_container {
      .time_report_day_row_create {
        flex-wrap: wrap;
        height: auto;
        animation: unset;
        &.close {
          height: 0;
          opacity: 0;
          margin-bottom: 0;
        }
        .description_input_container {
          margin-right: 0;
          flex: 1;
          .input {
            margin-right: unset;
            margin-bottom: 15px;
            height: 40px;
            font-size: 14px;
          }
        }
        .time_report_day_row_create_right {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          height: 40px;
          .input {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media screen and (max-device-width: 450px) {
  .time_report_container {
    .time_report_header {
      flex-direction: column;
      align-items: baseline;
      .time_report_header_select_section {
        margin-bottom: 10px;
        flex: 1;
        flex-wrap: wrap;
        order: 2;
        .developer_select {
          margin-bottom: 10px;
        }
      }
      .time_report_header_btn_section {
        width: 100%;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
        .time_report_header_select_month {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
    }
    .time_report_day_container {
      .time_report_day_row_create {
        .time_report_day_row_create_right {
          justify-content: space-between;
        }
      }
    }
  }
}

.change_project_body_container {
  display: flex;
  align-items: center;
  .change_project_body_current_project {
    margin-right: 15px;
  }
}

.time_report_day_row {
  padding: 10px 25px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-height: 62px;
  border-radius: 5px;
  background-color: $whiteColor;
  position: relative;
  cursor: move;

  .edit_dots {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-left: 25px;
    background-image: url('../../images/projects.svg');
    background-repeat: no-repeat;
    transition: background 0.3s linear;
    &.dots-bg {
      background: rgba(87, 108, 108, 0.15);
      border-radius: 5px;
    }
    &:hover {
      background: rgba(87, 108, 108, 0.15);
      border-radius: 5px;
    }
    svg {
      vertical-align: -0.3em;
    }
  }

  &.active {
    box-shadow: 0 0 5px 2px rgba(230, 10, 10, 0.25);
  }

  &.full {
    .time_report_day_description {
      transition: max-height 0.4s;
      max-height: 60vh;
      font-weight: 500;
      font-size: 15px;
      line-height: 24px;
      letter-spacing: 0.03em;
      color: $mainBlackColor;
    }

    .time_report_activity_select {
      flex-grow: 1;
      .status-wrapper {
        width: 100%;
        padding: 4px 6px;
        border-radius: 4px;
        position: relative;
        z-index: 1;
        background: rgba(0, 156, 152, 0.1);
      }
    }

    .time_report_activity_day {
      flex-grow: 2;
      text-align: left;
      padding-left: 25px;
      color: $mainBlackColor;
      font-weight: 600;
      font-size: 16px;
    }

    .time_report_day_add {
      color: $mainGreenColor;
      width: 30px;
      height: 30px;
      cursor: pointer;
      margin-left: 6px;
    }
  }
  &.shadow {
    filter: brightness(0.9);
    opacity: 0.4;
  }
  &.draging {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  }
  .drag_button {
    position: absolute;
    left: 0px;
    width: 70px;
    height: 100%;
    border-radius: 4px 0 0 4px;
    background-color: $mainGreenColor;
    cursor: move;
  }
  .time_report_day_description {
    font-size: 16px;
    line-height: 1.5;
    flex: 0.7;
    text-align: left;
    height: auto;
    transition: 0.4s;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: text;
    word-break: break-word;
    color: #414141;
    padding: 10px 10px 10px 0;
    a {
      cursor: pointer;
    }
  }
  .time_report_day_hours {
    // TODO: Remove hardcoded margin
    margin-right: 10px;
    width: 58px;
    color: #414141;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    &.hours_input {
      background-color: inherit;
      border: none;
      border: 1px solid $mainGreenColor;
      font-size: 15px;
      line-height: 1.5;
      padding: 0 5px;
      margin-right: 20px;
      margin-bottom: -2px;
      text-align: center;
      width: 55px;
      height: 42px;
      border-radius: 6px;
    }
  }
  .time_report_day_edit {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    height: 100%;
    cursor: pointer;
    &:hover {
      svg {
        color: slategray;
      }
    }
    button {
      border: unset;
      background-color: unset;
      width: 100%;
      font-size: 14px;
    }
    .time_report_day_menu {
      background-color: $whiteColor;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: space-around;
      transition: 0.3s ease-out;
      position: absolute;
      width: 224px;
      height: 128px;
      top: -150px;
      right: 0;
      border: 1px solid $borderColor;
      box-sizing: border-box;
      box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.12);
      border-radius: 6px;
      z-index: 99;
      padding-left: 5px;
      padding: 8px;

      .change_project_button {
        svg {
          transform: rotate(90deg);
        }
      }
      .button {
        font-weight: 500;
        padding: 5px 10px;
        height: 100%;
        text-align: left;
        color: $mainBlackColor;

        .icon {
          margin-right: 10px;
          font-size: 17px;
          color: #414141;
        }
        .exchange_icon {
          transform: rotate(0deg);
        }

        &:hover {
          background: rgba(87, 108, 108, 0.15);
          border-radius: 5px;
        }

        &:focus {
          .icon {
            color: #969595;
          }
        }
      }
      &.open {
        right: -6px;
        width: 180px;
        transition: 0.3s ease-in;
        .button:hover {
          filter: brightness(0.9);
          transition: 0.3s;
        }
      }
    }
  }

  .edit-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    padding-right: 10px;
    .textarea {
      flex-basis: 80%;
      max-width: 490px;
      border: none;
      border: 1px solid $mainGreenColor;
      background-color: inherit;
      resize: none;
      font-size: 16px;
      line-height: 1.5;
      padding: 0 5px;
      width: 700px;
      height: 42px !important;
      padding: 8px;
      border-radius: 6px;
      margin-right: 40px;
      margin-left: 0;
    }
  }
}

.select_container .select_title_container .select_title_icon {
  font-size: 12px;
}

.disabled {
  opacity: 0.5;
}
