
@import "./styles/commonStyles.scss";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  outline: 0;
  font-family: $fontMontserrat;  
}

html{
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

button:focus {
  outline: 0;
}
body{
  height: 100%;
  overflow: auto;
  overflow-y: scroll;
}
