@import "styles/commonStyles.scss";

.team-m{
  width: 100%;
  min-height: 76px;
  .container-team_modal{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0px;
    border-bottom: 1px black;
    }
  .avatar-cont{
    display: flex;
    width: 40%;
  }
  &-avatar{
    width: 36px;
    height: 36px;
  }

  &-name{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: $mainBlackColor;
    margin-left: 10px;
    overflow: hidden;
    text-align: left;
    a{
      width: 160px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &-email{
    width: 135px;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    letter-spacing: 0.018em;
    color: $separatorTextColor;
    overflow: hidden;
    text-align: left;
    margin-left: 10px;
  }

  &__type-work{
    display: flex;
    width: 30%;
  }

  &-input-cont{
    display: flex;
    align-items: baseline;

    &:first-child{
      margin-right: 60px;
    }

    &:last-child{
      margin-right: 52px;
    }

    label{
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      display: flex;
      align-items: center;
      letter-spacing: 0.03em;
      color: $mainBlackColor;
      position: relative;
      cursor: pointer;

      input{
        display: none;
      }

      .checkmark {
        position: absolute;
        top: 5px;
        left: -15px;
        height: 12px;
        width: 12px;
        background-color: $whiteColor;
        border: 1px solid rgba(34, 34, 34, 0.7);
        box-sizing: border-box;
        border-radius: 50%;
      }

      input:checked +.checkmark {
        background-color: $whiteColor;
        border: solid 3px #309C99;
      }
    }
  }

  .estimate-hours{
    width: 20%;
  }

  .trash-cont{
    width: 10%;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    .control_btn{
      position: relative;
      display: flex;
      align-items: center;
      .hint-window{
        top: -30px;
        transform: translateX(-30%);
      }
    }
    .control_btn:first-child{
      margin-right: 20px;
    }
    .gray-trash{
      margin-right: 0;
    }

  }
}