.container {
  background-image: url(../../images/background.png);
  background-color: rgba(0, 0, 0, 0.3);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: auto 100vh;
  height: 100vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 70px;
}

.logo_container {
  margin-bottom: 80px;
}

.title {
  color: #fff;
  font-size: 24px;
  margin-bottom: 30px;
}

.button_wrap {
  width: 90%;
  max-width: 429px;
  height: 30%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.google_button {
  height: 40px;
  width: 70%;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 0 6px 0 rgba(145, 147, 153, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.google_button:hover {
  background-color: #f9f9f9;
}

.text_button {
  color: #414141;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
}

.logo {
  margin-right: 1rem;
}
