@import 'styles/commonStyles.scss';

.section {
  margin-top: 20px;
  padding: 25px 0;
}

.title {
  padding: 0 20px;
  color: $mainBlackColor;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 20px;
}

.buttonContainer {  
  margin-top: 24px;
  padding: 24px 20px 0 20px;
  
  border-top: 1px solid $grayBorderColor;
}