.header_profile_container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.header_profile_btn {
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
  right: 0px;
  top: -20px;
}

.header_profile_btn.bnt_open {
  position: absolute;
  z-index: 1;
  left: unset;
  right: 270px;
  top: -20px;
  transition: right 0.5s ease-in-out;
}

.drop_down_container {
  position: absolute;
  top: -25px;
  right: 0;
  width: 320px;
  height: 70vh;
  margin-bottom: 24px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 15px 15px;
  opacity: 1;
  overflow: hidden;
  animation: open 0.5s 1 ease-in-out;
  z-index: 999;
}

.drop_down_header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding-left: 60px;
  padding-top: 10px;
}

.drop_down_header_name {
  font-size: 1.4rem;
  animation: name 0.7s 1 ease-in-out;
}

.drop_down_logout_bnt_container {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-end;
}

.drop_down_logout_bnt {
  border: none;
  outline: none;
  background-color: unset;
  width: 100%;
  animation: button 0.5s 1 ease-in-out;
}

.header_line {
  width: 100%;
}

.anim_back {
  width: 40px;
  height: 40px;
  opacity: 0.6;
  top: 0;
  padding: 0;
  animation: close 0.35s 1 ease-in-out;
}

.anim_back .drop_down_header_name {
  display: none;
}

@keyframes open {
  from {
    width: 40px;
    height: 40px;
    opacity: 0.6;
    top: 0;
    padding: 0;
  }
  20% {
    opacity: 1;
  }
  to {
    top: -25px;
    right: 0;
    width: 320px;
    height: 70vh;
    border-radius: 3px;
    opacity: 1;
  }
}

@keyframes close {
  from {
    width: 250px;
    height: 300px;
    border-radius: 3px;
    opacity: 1;
    top: -15px;
    padding: 15px;
  }
  to {
    width: 40px;
    height: 40px;
    opacity: 1;
    top: 0;
    padding: 0;
  }
}

@keyframes button {
  from {
    width: 2px;
    height: 2px;
    opacity: 0.6;
  }
  to {
    width: 100%;
    height: auto;
    opacity: 1;
  }
}

@keyframes name {
  from {
    font-size: 0;
  }
  to {
    font-size: 1.4rem;
  }
}

@keyframes open420 {
  from {
    height: 40px;
    opacity: 0.6;
    top: 0;
    padding: 0;
  }
  20% {
    opacity: 1;
  }
  to {
    top: -25px;
    right: -15px;
    /*width: 320px;*/
    height: 70vh;
    border-radius: 3px;
    opacity: 1;
  }
}

@media screen and (max-device-width: 420px) {
  .drop_down_container {
    height: 70vh;
    right: -15px;
    animation: open420 0.5s 1 ease-in-out;
  }

  .header_profile_btn.bnt_open {
    right: 245px;
  }
}
