@import 'styles/commonStyles.scss';

.section {
  max-width: 364px;
  padding: 40px 53px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid $grayBorderColor;
  border-radius: 10px;
  box-shadow: none;
}

.title {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
  color: $mainBlackColor;
}

.subtitle {
  margin-top: 8px;
  font-size: 14px;
  color: $darkGrayColor;
}
